
*,*::before,*::after {
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
    margin:0;
    line-height: 1.3;
}

.img {  
    height: auto;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;  
    
}

h1 {
    font-family: 'Inter',sans-serif;
}

p{
    font-family: 'Lexend Deca',
    sans-serif;
}

span {
    color: hsl(277, 64%, 61%);
}

img {
    max-width: 100%;
    
     
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

}

.wrapper {
    background-color:#000; 
    padding:0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 2em;
   background-color: hsl(233, 47%, 7%);; 
    margin: 0 auto;
    
   
}



.text {
    text-align: center;
    margin-top: 4em;
}



.content {
 text-align: center;
 padding-bottom: 1em;
}

@media (min-width:470px){

    .wrapper {
        padding: 0 4em;
    }

    .container {
        padding: 0;
        margin: 25% auto;
    }
   
    .flex {
        display: flex;
        flex-direction: row-reverse;
       
    }

    .content {
        display: flex;
        justify-content: center;
       
       
    }

    

    img {
       filter:brightness(4);
        border-bottom-right-radius: 10px;

         border-top-left-radius: 0px;
         border-top-right-radius: 10px;

    }

    .text {
        padding: 0 3em;
        width: 50%;
    }

    .text p , .text h1  {
        text-align: left;
    }

    .text-inner {
        padding: 1em;
        justify-content: center;
        align-items: center;
    }

    .text-inner h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .text-inner p {
      font-size: .7rem;
      font-weight: 700;
      text-transform: uppercase;
    }

}

